body{
    background: rgb(107, 107, 241);
    font: normal 15pt Arial;
}
header{
    color: #fff;
    text-align: center;
    text-shadow: 5px 5px 10px rgb(58, 57, 57);
}
.sessao{
    display: flex;
    align-items: center;
    flex-direction:column;
    background: #fff;
    border-radius: 10px;
    padding: 10px;
    height: 450px;
    width: 600px;
    margin:auto;
    box-shadow: 5px 5px 10px rgb(61, 59, 59);


}
input{
    display:inline-block;
    border-radius: 5px;
    width: 50px;
    border:  rgb(107, 107, 241) 1px solid ;
}
.sessao .tab{
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 90%;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    
    
}
.sessao .tab .res{
    display: inline-block;
    width: 70%;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    font-size: 10px;
    height: 150px;
    margin-left: 10px;


}

.sessao .btn{
    width:80px;
    border-radius: 10px;
    border: none;
    background-color:rgb(107, 107, 241) ;
    color: #fff;
    height: 2rem;
    box-shadow: 2px 2px 6px rgb(61, 59, 59);
    cursor: pointer;
    text-transform: uppercase;
    font-size: 10px;
    margin-top: 20px;
    
}
.sessao .btn:hover{
    background-color: indigo;
    opacity: 0.8;

}
footer{
    color: #fff;
    text-align: center;
    font-style: italic;
}